  {% load static %}
 <header class="main-header">
    <!-- Logo -->
    <a href="{% url 'fleet:index' %}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>F</b>MS</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Fleet</b>MS</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
        
         
          <!-- User Account: style can be found in dropdown.less -->
          
          {% if user.is_authenticated %}
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{% static "img/user2-160x160.jpg" %}" class="user-image" alt="User Image">
                <span class="hidden-xs">
                   {% if user.roles == 'sacco' %}
                    {{user.sacco.name.capitalize}} Sacco
                  {% else %}
                    {{user.first_name.capitalize}} {{user.last_name.capitalize}}
                  {% endif %} 
                </span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="{% static "img/user2-160x160.jpg" %}" class="img-circle" alt="User Image">

                  <p>
                  
                  {% if user.roles == 'sacco' %}
                    {{user.sacco.name.capitalize}} Sacco
                  {% else %}
                    {{user.first_name.capitalize}} {{user.last_name.capitalize}}
                  {% endif %}  
                    <small>Member since {{user.date_joined}}</small>
                  
                  </p>
                </li>
                <!-- Menu Body -->
                
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="
                    {% if user.roles == 'sacco' %}
                      {% url 'sacco:profile' %}
                    {% elif user.roles == 'supervisor' %}
                      {% url 'sup:profile' %}
                    {%else%}
                      {% url 'owner:profile' %}
                    {%endif%}


                    " class="btn btn-default btn-flat">Profile</a>

                  </div>
                  <div class="pull-right">
                    <a href="{% url 'fleet:logout' %}" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
          {%else%}
            <li><a href="{% url 'fleet:loginViews' %}">Login</a></li>
            <li></li>
          {%endif%}
          <!-- Control Sidebar Toggle Button -->
          
        </ul>
      </div>
    </nav>
  </header>