{%extends 'fleet_base/adminbase.html'%} 
{% load staticfiles%} 
{% load bootstrap3 %}
<!-- Content block -->
{%block content-header%}
     <section class="content-header">
      <h1>
        Supervisor Dashboard<small>manage everything from here</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Supervisor</a></li>
        <li class="active">All Conductors</li>
      </ol>
    </section>
{%endblock%}
{% block content %} 
	
	{% include 'fleet_base/partials/_messages.html' %}
	<div class="box">
		<div class="box-header with-border">
	            <h3 class="box-title">All Conductors</h3>
        </div>
	    <div class="box-body table-responsive with-border">
	        
	         {% if conductors%}
	         
	         	<table class="table table-bordered">
	         		<thead>
	                    <tr>
	                        <th>Full Name</th>
	                        <th>ID Number</th>
	                        <th>Option</th>
	                        <th></th>
	                    </tr>
	                </thead>
	                <tbody>

                        {% for cond in conductors %}
                        <tr>
                            <td>{{cond.fullname.capitalize}}</td>
                            <td>{{cond.id_number}}</td>
                            <td><a href="{% url 'sup:editConductor' cond.id %}" class="btn btn-sm btn-success btn-block btn-flat fa fa-edit"> Edit</a></td>
                            <td><a href="#" class="btn btn-sm btn-danger btn-block btn-flat fa fa-trash" data-toggle="modal" data-target="#modal-default-{{cond.id}}"> Delete</a>

                            <div class="modal fade" id="modal-default-{{cond.id}}">
	                          <div class="modal-dialog">
	                            <div class="modal-content">
	                              <div class="modal-header">
	                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                                  <span aria-hidden="true">&times;</span></button>
	                                <h4 class="modal-title">Delete Conductor?</h4>
	                              </div>
	                              <div class="modal-body">
	                                <p>Are you sure you want to permanently delete this conductor?</p>
	                              </div>
	                              <div class="modal-footer">
	                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel Deletion</button>
	                                <a href="{% url 'sup:deleteConductor' cond.id %}" class="btn btn-danger">Delete Conductor</a>
	                                
	                              </div>
	                            </div>
	                            <!-- /.modal-content -->
	                          </div>
	                          <!-- /.modal-dialog -->
	                        </div>
	                        <!-- /.modal -->

                            </td>
                        </tr>
                        {% endfor %}


            		</tbody>
				  
				</table>
	         

	         {%else%}
	         <p>You currently do not have any drivers registered. Create one <a href="{% url 'sup:createConductor' %}">here</a></p>
	         {%endif%}
	    </div>
    </div>
 
{% endblock %}
