{%extends 'fleet_base/base.html'%}
{% load bootstrap3 %} 
{% load static %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-4">
			{% include 'fleet_base/partials/_sidebar.html' %}
		</div>
		<div class="col-md-4">
			{% include 'fleet_base/partials/_messages.html' %}
		    <div class="text-center">
		        View All Conductors
		         {% if conductors%}
		         <div class="well">
		         	<table class="table table-bordered">
		         		<thead>
		                    <tr>
		                        <th>Full Name</th>
		                        <th>ID Number</th>
		                        <th>Option</th>
		                    </tr>
		                </thead>
		                <tbody>

	                        {% for cond in conductors %}
	                        <tr>
	                            <td>{{cond.fullname}}</td>
	                            <td>{{cond.id_number}}</td>
	                            <td><a href="{% url 'sup:editConductor' cond.id %}" class="btn btn-sm btn-success">Edit</a></td>
	                            <td><a href="{% url 'sup:deleteConductor' cond.id %}" class="btn btn-sm btn-danger">Delete</a></td>
	                        </tr>
	                        {% endfor %}


                		</tbody>
					  
					</table>
		         </div>

		         {%else%}
		         <p>You currently do not have any drivers registered. Create one <a href="{% url 'sup:createConductor' %}">here</a></p>
		         {%endif%}
		    </div>
	    </div>
    </div>
  
</div>
{% endblock %}
