{%extends 'fleet_base/adminbase.html'%} 
{% load staticfiles%} 
{% load bootstrap3 %}
<!-- Content block -->
{%block content-header%}
     <section class="content-header">
      <h1>
        Supervisor Dashboard<small>manage everything from here</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Supervisor</a></li>
        <li class="active">All Drivers</li>
      </ol>
    </section>
{%endblock%}
{% block content %} 
{% include 'fleet_base/partials/_messages.html' %}
		<div class="box">
			<div class="box-header with-border">
		            <h3 class="box-title">All Drivers</h3>
	        </div>
		    <div class="box-body table-responsive with-border">
		       
		         {% if drivers%}
		         
		         	<table class="table table-bordered">
		         		<thead>
		                    <tr>
		                        <th>Full Name</th>
		                        <th>ID Number</th>
		                        <th>Option</th>
		                        <th></th>
		                    </tr>
		                </thead>
		                <tbody>

	                        {% for driver in drivers %}
	                        <tr>
	                            <td>{{driver.fullname.capitalize}}</td>
	                            <td>{{driver.id_number}}</td>
	                            <td><a href="{% url 'sup:editDriver' driver.id %}" class="btn btn-sm btn-flat btn-success btn-block fa fa-edit"> Edit</a></td>
	                            <td><a href="{% url 'sup:deleteDriver' driver.id %}" class="btn btn-flat btn-sm btn-danger btn-block fa fa-trash"> Delete</a></td>
	                        </tr>
	                        {% endfor %}


                		</tbody>
					  
					</table>
		         

		         {%else%}
		         <p>You currently do not have any drivers registered. Create One <a href="{% url 'sup:createDriver' %}">here</a></p>
		         {%endif%}
		    </div>
	    </div>

{% endblock %}
