{%extends 'fleet_base/adminbase.html'%} 
{% load staticfiles%} 
{% load bootstrap3 %}
<!-- Content block -->
{%block content-header%}
     <section class="content-header">
      <h1>
        Supervisor Dashboard<small>manage everything from here</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Supervisor</a></li>
        <li class="active">Edit Conductors</li>
      </ol>
    </section>
{%endblock%}
{% block content %} 
		{% include 'fleet_base/partials/_messages.html' %}
		
		<div class="box">
			<div class="box-header with-border">
		    	<h3 class="box-title">Edit Conductor</h3>
       		</div>
			
		    <div class="box-body">
		        
		         <form action="{% url 'sup:editConductor' cond.id %}" method="post" enctype="multipart/form-data">
		            {% csrf_token %} 
		            {% bootstrap_form form %}
		            <button type="submit" class="fa fa-save btn btn-success btn-sm btn-block btn-flat"> Save changes</button>
		            
		        </form>
		    </div>
	    </div>
  
{% endblock %}
