                          {%extends 'owner/all/base.html'%} 
	                           
	                            
{% load bootstrap3 %} 
{% block content %} 
{{block.super}}

<div class="container">
	{% if crews%}
	
	                            {%for crew in crews%}
		                            Number Plate: {{crew.vehicle_id.number_plate}}<br><br>
		                            Capacity: {{crew.vehicle_id.capacity}}<br><br>
		                            Driver: {{crew.driver_id.fullname}}    ID Number:{{crew.driver_id.id_number}}<br><br>
		                            Conductor: {{crew.conductor_id.fullname}}   ID Number:{{crew.conductor_id.id_number}}<br><br>
		                            Status: {%if crew.vehicle_id.is_active == True%}Active{%else%}No crew has been assigned to your vehicle{%endif%}
	                            {%endfor%}
	
	{%else%}
		
            Number Plate: {{owner.vehicle_id}}<br><br>
            Capacity: {{owner.capacity}}<br><br>
           
            Status: {%if owner.is_active == True%}Active{%else%}No crew has been assigned to your vehicle{%endif%}
		
	{%endif%}
	
</div>
{% endblock %}