                          {%extends 'owner/all/base.html'%} 
	                           
	                            
{% load bootstrap3 %} 
{% block content %} 
{{block.super}}

<div class="container">
    <div class="col-md-4">
         <div class="list-group">
 
                  <a href="{% url 'owner:profile' %}" class="list-group-item ">
                    Profile
                  </a>

                    <a href="{% url 'owner:createVehicle' %}" class="list-group-item ">
                    Add Vehicle
                  </a>
                    <a href="{% url 'owner:editProfile' request.user.owner.id %}" class="list-group-item ">
                    Edit Profile
                  </a>

                  
            </div>
    </div>
    <div class="col-md-8">
	{% if crews%}
	
        {%for crew in crews%}
            <strong>Number Plate:</strong> {{crew.vehicle_id.number_plate}}<br><br>
            <strong>Capacity:</strong> {{crew.vehicle_id.capacity}}<br><br>
            <strong>Driver:</strong> {{crew.driver_id.fullname.capitalize}}    <strong>ID Number:</strong> {{crew.driver_id.id_number}}<br><br>
            <strong>Conductor:</strong> {{crew.conductor_id.fullname.capitalize}}   <strong>ID Number:</strong> {{crew.conductor_id.id_number}}<br><br>
            <strong>Status:</strong> {%if crew.vehicle_id.is_active == True%}Active{%else%}No crew has been assigned to your vehicle{%endif%}
        {%endfor%}
	
	{%else%}
		
        <strong>Number Plate:</strong> {{owner.number_plate.capitalize}}<br><br>
        <strong>Capacity:</strong> {{owner.capacity}}<br><br>
       
        <stroong>Status:</stroong> {%if owner.is_active == True%}Active{%else%}No crew has been assigned to your vehicle{%endif%}
		
	{%endif%}
    </div>
	
</div>
{% endblock %}