{%extends 'owner/all/base.html'%} {% block content %} {{block.super}}

<h1 style="text-align: center">OWNER DASHBOARD</h1>
<!-- Side navigation -->
<div class="sidenav" style="width: 17vw;">
    <a href="{% url 'owner:profile' %}">About Owner</a>
    <a href="{% url 'owner:createVehicle' %}">Add Vehicle</a>
    <a href="{% url 'owner:editProfile' user.owner.id %}">Edit Owner Profile</a>
</div>

<!-- Page content -->
<div class="container" style="width: 83vw; margin-left: 17vw;">
    {% include 'sacco/partials/messages.html' %}
    <div class="Supervisors">
        <h4>VEHICLE LIST</h4>
        {% if vehicle %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>NUMBER PLATE</th>
                    <th>CAPACITY</th>
                    <th>OPTIONS</th>
                    
                    

                </tr>
            </thead>
            <tbody>
           
                {% for vehicle in vehicle %}
                
                        
                    <td>{{vehicle.number_plate}}</td>
                    <td>{{vehicle.capacity}}</td>                    
                     


                    <td>
                        <a href="{% url 'owner:editVehicle' vehicle.id %}" class="btn btn-sm btn-success">Edit</a>
                        <a href="{% url 'owner:deleteVehicle' vehicle.id %}" class="btn btn-sm btn-danger">Delete</a>
                        <a href="{% url 'owner:crewDetails' vehicle.id %}" class="btn btn-sm btn-info">View More Details</a>
                    </td>
                   
                </tr>
                 
              
                {% endfor %} 
              
               
              

            </tbody>
        </table>
        {% else %}
        <div class="emptytable">
            <h3>There are no registered vehicles just yet.
            <a href="{% url 'owner:createVehicle' %}">Click here to add</a> a vehicle</h3>

        </div>
                {%endif%}

    </div>
</div>

{% endblock %}
                