{%extends 'owner/all/base.html'%} {% block content %} {{block.super}}


<!-- Side navigation -->
<div class="col-md-4">
 <div class="list-group">
 
                  <a href="{% url 'owner:profile' %}" class="list-group-item ">
                    Profile
                  </a>

                    <a href="{% url 'owner:createVehicle' %}" class="list-group-item ">
                    Add Vehicle
                  </a>
                    <a href="{% url 'owner:editProfile' request.user.owner.id %}" class="list-group-item ">
                    Edit Profile
                  </a>

                  
            </div>
</div>

<!-- Page content -->
<div class="col-md-8">
    {% include 'sacco/partials/messages.html' %}
    <div class="Supervisors">
       <h4>OWNER DASHBOARD</h4>
        <h5>VEHICLE LIST</h5>
        {% if vehicle %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>NUMBER PLATE</th>
                    <th>CAPACITY</th>
                    <th>OPTIONS</th>
                    
                    

                </tr>
            </thead>
            <tbody>
           
                {% for vehicle in vehicle %}
                
                        
                    <td>{{vehicle.number_plate}}</td>
                    <td>{{vehicle.capacity}}</td>                    
                     


                    <td>
                        <a href="{% url 'owner:editVehicle' vehicle.id %}" class="btn btn-sm btn-success">Edit</a>
                        <a href="{% url 'owner:deleteVehicle' vehicle.id %}" class="btn btn-sm btn-danger">Delete</a>
                        <a href="{% url 'owner:crewDetails' vehicle.id %}" class="btn btn-sm btn-info">View More Details</a>
                    </td>
                   
                </tr>
                 
              
                {% endfor %} 
              
               
              

            </tbody>
        </table>
        {% else %}
        <div class="emptytable">
            <h3>There are no registered vehicles just yet.
            <a href="{% url 'owner:createVehicle' %}">Click here to add</a> a vehicle</h3>

        </div>
                {%endif%}

    </div>
</div>

{% endblock %}
                