{%extends 'all/base.html'%} 
{% block content %}
{{block.super}} 

<h1 style="text-align: center">OWNER DASHBOARD</h1>
<!-- Side navigation -->
<div class="sidenav">
    
    <a href="{% url 'owner:editVehicle' vehicle.id %}">Edit Vehicle</a>
    <a href="{% url 'owner:deleteVehicle' vehicle.id %}">Delete Vehicle</a>
    <a href="#">Delete Sacco</a>
</div>

<!-- Page content -->
<div class="container">
    
        <h4>VEHICLE LIST</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Number Plate</th>
                    <th>Capacity</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for vehicle in vehicle %}
                <tr>
                    <td>{{vehicle.number_plate}}</td>
                    <td>{{vehicle.capacity}}</td>
                    <td><a href="{% url 'owner:editVehicle' vehicle.id %}" class="btn btn-sm btn-success">Edit</a></td>
                    <td><a href="{% url 'owner:deleteVehicle' vehicle.id %}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>

{% endblock %}