{%extends 'fleet_base/adminbase.html'%} 
{% load staticfiles%} 
{% load bootstrap3 %}
<!-- Content block -->
{%block content-header%}
     <section class="content-header">
      <h1>
        Owner Dashboard<small>manage everything from here</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Owner</a></li>
        <li class="active">Profile</li>
      </ol>
    </section>
{%endblock%}
{% block content %}
<div class="row">
        <div class="col-md-3">


          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{% static "img/user4-128x128.jpg" %}" alt="User profile picture">

              <h3 class="profile-username text-center">{{profile.user.first_name.capitalize}} {{profile.user.last_name.capitalize}}</h3>

              <p class="text-muted text-center">Vehicle Owner</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Followers</b> <a class="pull-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Following</b> <a class="pull-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Friends</b> <a class="pull-right">13,287</a>
                </li>
              </ul>

              <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

              <p class="text-muted">
                B.S. in Computer Science from the University of Tennessee at Knoxville
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted">Malibu, California</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

              <p>
                <span class="label label-danger">UI Design</span>
                <span class="label label-success">Coding</span>
                <span class="label label-info">Javascript</span>
                <span class="label label-warning">PHP</span>
                <span class="label label-primary">Node.js</span>
              </p>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
        <!-- /.col -->
      </div>
<div class="sidenav" style="height: 100vh; width: 40vw; background: grey;">
  {% if profile.profile_pic %}
  <img src="{{profile.profile_pic.url}}" alt="Owner Image" style="margin-top: 5vh; padding-left: 3vw; padding-right: 3vw; width: 10vw;"> {% else %}
  <h1 style="color: white; font-size: 10vh; padding: 3vw;">No Image uploaded</h1>
  {% endif %}
</div>
<div class="container" style="width:60vw; float:right; display: inline block; padding-left: 5vw;">
  <div class="row">
    <div class="col-md-9">
    {% include 'sacco/partials/messages.html' %}
      <div>
        <h3>Owner Name: {{profile.user.first_name.capitalize}} {{profile.user.last_name.capitalize}}</h3>
      </div>
      <div>
        <h4>National Id: {{profile.nat_id}}</h4>
      </div>
      <div>
        <h4>Telephone: {{profile.telephone}}</h4>
      </div>
      <div>
        <h4>Sacco: {{profile.sacco}}</h4>
      </div>
    </div>
  </div>
</div>
      
{% endblock %}
