{%extends 'owner/all/base.html'%} 
{% load bootstrap3 %} 
{% block content %} 
{{block.super}}

<div class="container">
    <!-- Supervisor form -->
    <div class="col-md-4">
    	   <div class="list-group">
 
                  <a href="{% url 'owner:profile' %}" class="list-group-item ">
                    Profile
                  </a>

                    <a href="{% url 'owner:createVehicle' %}" class="list-group-item ">
                    Add Vehicle
                  </a>
                    <a href="{% url 'owner:editProfile' request.user.owner.id %}" class="list-group-item ">
                    Edit Profile
                  </a>

                  
            </div>
    </div>
    <div class="col-md-8">
    	{%include 'fleet_base/partials/_messages.html' %}

        <form action="{% url 'owner:createVehicle' %}" method="post">

            {% csrf_token %} {% bootstrap_form form %}

            <input type="submit" class="btn btn-success btn-lg">

        </form>

    </div>
</div>
{% endblock %}
