{%extends 'fleet_base/adminbase.html'%} 
{% load staticfiles%} 
{% load bootstrap3 %}

{%block content-header%}
     <section class="content-header">
      <h1>
        Supervisor Dashboard<small>manage everyhting from here</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Owner</a></li>
        <li class="active">All Sacco Members</li>
      </ol>
    </section>
{%endblock%}


{% block content %}
{% include 'fleet_base/partials/_messages.html' %} 
<div class="box">
		<div class="box-header with-border">
		    <h3 class="box-title">All Owners</h3>
        </div>
	
    	<div class="box-body with-border table-responsive">
	      

	        
	         {% if owners%}
	         
	         	<table class="table table-bordered">
	         		<thead>
	                    <tr>
	                        <th>Full Name</th>
	                        <th>ID Number</th>
	                        <th>Telephone</th>
	                        <th></th>
	                    </tr>
	                </thead>
	                <tbody>

                        {% for owner in owners %}
                        <tr>
                            <td><a href="{% url 'sup:singleOwner' owner.id %}">{{owner.user.first_name.capitalize}} {{owner.user.last_name.capitalize}}</a></td>
                            <td>{{owner.nat_id}}</td>
                            <td>{{owner.telephone}}</td>
                            <td><a href="{% url 'sup:singleOwner' owner.id %}" class="btn btn-sm btn-success btn-block"><i class="fa fa-external-link"></i> View</a></td>
                        </tr>
                        {% endfor %}


            		</tbody>
				  
				</table>
				{% if owners.count > 5 %}
				<a href="" class="pull-right">View All Owners</a>
				{%endif%}
	         

	         {%else%}
	         <p>NO Owner currently registered in this sacco</p>
	         {%endif%}
    </div>
</div>
   

{% endblock %}
