{%extends 'fleet_base/adminbase.html'%} 
{% load staticfiles%} 
{% load bootstrap3 %}
<!-- Content block -->
{%block content-header%}
     <section class="content-header">
      <h1>
        Supervisor Dashboard<small>manage everything from here</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Supervisor</a></li>
        <li class="active">Matatu Details</li>
      </ol>
    </section>
{%endblock%}
{% block content %}
{% include 'fleet_base/partials/_messages.html' %} 
	<div class="box">
		<div class="box-header with-border">
            <h3 class="box-title">Matatu Details</h3>
        </div>
    	<div class="box-body table-responsive with-border">
    	<table class="table table-bordered">
    		<thead>
    			<th>Number Plate</th>
    			<th>Matatu capacity</th>
    			<th>Matatu Owner</th>
    			<th>Matatu Status</th>
    		</thead>
    		<tbody>
    			<td>{{matatu.number_plate.capitalize}}</td>
    			<td>{{matatu.capacity}}</td>
    			<td>{{matatu.owner.user.first_name.capitalize}} {{matatu.owner.user.last_name.capitalize}}</td>
    			<td>{% if matatu.is_active == False %}<a href="" class="btn btn-danger btn-sm btn-flat btn-block"> Inactive</a>{%else%}<a href="" class="btn btn-primary btn-sm btn-flat btn-block">Active</a>{%endif%}</td>
    		</tbody>
    	</table>
    	<br>

    		{% if crew %}
    		<strong>Assigned crew</strong><br>
    		<table class="table table-bordered">
    			<thead>
    				<th>Driver</th>
    				<th>Conductor</th>
    				<th></th>
    			</thead>
    			<tbody>
	    			{% for crew in crew %}
		    			<td><a href="#" data-toggle="modal" data-target="#modal-driver">{{crew.driver_id.fullname.capitalize}}</a></td>
		    			<td><a href="#" data-toggle="modal" data-target="#modal-conductor">{{crew.conductor_id.fullname.capitalize}}</a></td>
		    			<td>	<a class="btn btn-success btn-sm btn-flat fa fa-edit" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> Manage</a>
			    		<a href="{% url 'sup:deleteCrew' matatu.id %}" class="btn btn-sm btn-danger btn-flat fa fa-trash"> Delete Crew</a></td>

			    		<div class="modal fade" id="modal-driver">
		                    <div class="modal-dialog">
		                      <div class="modal-content">
		                        <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                            <span aria-hidden="true">&times;</span></button>
		                          <h4 class="modal-title">Driver Details</h4>
		                        </div>
		                        <div class="modal-body">

		                          <p>
		                             <div class="col-md-6"><strong>Name</strong>:{{crew.driver_id.fullname.capitalize}}</div>
		                             <div class="col-md-6"><strong>ID Number</strong>: {{crew.driver_id.id_number}}</div> 
		                          </p>
		                        </div>
		                        <div class="modal-footer">
		                          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
		                          
		                        </div>
		                      </div>
		                      <!-- /.modal-content -->
		                    </div>
		                    <!-- /.modal-dialog -->
	                    </div>

	                    <div class="modal fade" id="modal-conductor">
		                    <div class="modal-dialog">
		                      <div class="modal-content">
		                        <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                            <span aria-hidden="true">&times;</span></button>
		                          <h4 class="modal-title">Conductor Details</h4>
		                        </div>
		                        <div class="modal-body">

		                          <p>
		                             <div class="col-md-6"><strong>Name</strong>:{{crew.conductor_id.fullname.capitalize}}</div>
		                             <div class="col-md-6"><strong>ID Number</strong>: {{crew.conductor_id.id_number}}</div> 
		                          </p>
		                        </div>
		                        <div class="modal-footer">
		                          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
		                          
		                        </div>
		                      </div>
		                      <!-- /.modal-content -->
		                    </div>
		                    <!-- /.modal-dialog -->
	                    </div>
	    			{% endfor %}
    			</tbody>
    			
    		</table>    		
	    			    		
    		{% else %}
    		<strong>Assign New Crew</strong><br><br>
    			<a class="btn btn-success btn-flat" class="btn btn-success" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Manage</a>
    		{% endif %}
    		<br>
    		<div class="collapse" id="collapseExample">
	    		<form  action="{% url 'sup:assignCrew' matatu.id %}">
			        <div class="col-md-6">
			          	<div class="form-group">
			          		<label  class="control-label">Driver</label>
				          	<select class="form-control" name = "driver">
					          	  <option value="" selected>---------</option>
					          	  {% for driver in drivers %}
								  <option value="{{driver.id}}">{{driver.fullname.capitalize}}</option>
								  {%endfor%}
								 
							</select>
						</div>
					</div>
					<div class="col-md-6">

						<div class="form-group">
			          		<label  class="control-label">Conductor</label>
				          	<select class="form-control" name = "conductor">
					          	  <option value="" selected>---------</option>
					          	  {% for cond in conductors %}
								  <option value="{{cond.id}}">{{cond.fullname.capitalize}}</option>
								  {%endfor%}
								 
							</select>
						</div>

					</div>
					<div class="col-md-12">
					  <label class="radio-inline">
					  	{% if matatu.is_active == True %}
					  	<input type="radio" name="is_active" id="inlineRadio1" value="True" checked>
					  	{% else %}
					  	<input type="radio" name="is_active" id="inlineRadio1" value="True">
					  	{% endif %}
					  	 Set Matatu To Active
					  	
					  </label>
						<label class="radio-inline">
							{% if matatu.is_active == False %}
						  <input type="radio" name="is_active" id="inlineRadio2" value="False" checked>
						  {% else %} 
						  <input type="radio" name="is_active" id="inlineRadio2" value="False">
						  {% endif %}
						  Deactivate Matatu
						</label>
					
					</div>
					
					<div class="col-md-12">
						 <div class="form-group">
						 <br>
			          	<button type="submit" class="btn btn-flat btn-info btn-block fa fa-save"> Assign</button>
			          </div>
					</div>
			         

	          	</form>
          	</div>

  		</div>
    </div>
  
{% endblock %}
