{%extends 'sacco/all/base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-4">
			{% include 'fleet_base/partials/_sidebar.html' %}
		</div>
		<div class="col-md-8">
			{% include 'fleet_base/partials/_messages.html' %}
		    	<div class="">

		    		<strong>Name</strong>: {{owner.user.first_name.capitalize}} {{owner.user.last_name.capitalize}}<br>
		    		<strong>National Id</strong>: {{owner.nat_id}}<br>
		    		<strong>Telephone Number</strong>: {{owner.telephone}}<br>

		    		<strong>{{owner.user.first_name.capitalize}}'s  Matatus:</strong><br><br>
		    		
		    		<table class="table table-bordered">
		    			<thead>
		                    <tr>
		                        <th>Number Plate</th>
		                        <th>Capacity</th>
		                        <th>Status</th>
		                    </tr>
			            </thead>
			             <tbody>

		                        {% for vehicle in vehicles %}
		                        <tr>
		                            <td>{{vehicle.number_plate.capitalize}}</td>
		                            <td>{{vehicle.capacity}}</td>
		                            <td>{% if vehicle.is_active == False %}<a href="" class="btn btn-danger btn-sm btn-block"> Inactive</a>{%else%}<a href="" class="btn btn-primary btn-sm btn-block">Active</a>{%endif%}</td>
		                           		                           
		                        </tr>
		                        {% endfor %}


	                		</tbody>
		    		</table>

		    	
		    		

		  		</div>
    </div>
  
</div>
{% endblock %}
