{%extends 'sacco/all/base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-4">
			{% include 'fleet_base/partials/_sidebar.html' %}
		</div>
		<div class="col-md-8">
			{% include 'fleet_base/partials/_messages.html' %}
		    	<div class="">

		    		<strong>Number Plate</strong>: {{matatu.number_plate.capitalize}}<br>
		    		<strong>Matatu capacity</strong>:{{matatu.capacity}}<br>
		    		<strong>Matatu owner</strong>: {{matatu.owner.user.first_name.capitalize}} {{matatu.owner.user.last_name.capitalize}}<br>
		    		{% if crew %}
			    		{% for crew in crew %}
			    		<strong>Assigned crew</strong><br>
			    		Driver: {{crew.driver_id.fullname}}<br>
			    		Conductor: {{crew.conductor_id.fullname}}<br>
			    		<a class="btn btn-success btn-sm" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Re-Assign Crew</a>
			    		<a href="{% url 'sup:deleteCrew' matatu.id %}" class="btn btn-sm btn-danger">Delete Crew</a>
			    		{% endfor %}
		    		{% else %}
		    			<a class="btn btn-success" class="btn btn-success" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Assign Crew</a>
		    		{% endif %}
		    		<div class="collapse" id="collapseExample">
			    		<form  action="{% url 'sup:assignCrew' matatu.id %}">
					         
					          	<div class="form-group">
					          		<label  class="control-label">Driver</label>
						          	<select class="form-control" name = "driver">
							          	  <option value="" selected>---------</option>
							          	  {% for driver in drivers %}
										  <option value="{{driver.id}}">{{driver.fullname.capitalize}}</option>
										  {%endfor%}
										 
									</select>
								</div>

								<div class="form-group">
					          		<label  class="control-label">Conductor</label>
						          	<select class="form-control" name = "conductor">
							          	  <option value="" selected>---------</option>
							          	  {% for cond in conductors %}
										  <option value="{{cond.id}}">{{cond.fullname.capitalize}}</option>
										  {%endfor%}
										 
									</select>
								</div>
					          <div class="form-group">
					          	<button type="submit" class="btn btn-default">Assign</button>
					          </div>

			          	</form>
		          	</div>

		  		</div>
    </div>
  
</div>
{% endblock %}
