@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
#center {
  text-align: center;
}
/* font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../img/bg01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

a {
  color: inherit
}

a:visited {
  color: inherit;
}

button:hover {
  background-color: white;
  color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
             url('../img/bg01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 /* -webkit-background-clip: text; */
 -webkit-background-clip: border;
  color: white;
}


.one {
  background-color: #333510;
  height: 100vh;
  opacity: 0.5
}

.dave:hover {
  box-shadow: 1px 1px grey;
  height: 100vh;
  opacity: 0.8;
}

.two {
  background-color: darkslategrey;
  height: 100vh;
  opacity: 0.5
}

.three {
  background-color: #6ba1b8;
  height: 100vh;
  opacity: 0.5
}

.fleet-title {
  text-align: center;
  padding-top: 20vh;
  color: white;
}

.fleet-title h1 {
  font-size: 70px;
  font-family: 'Raleway', sans-serif;
}

.fleet-title h6 {
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  margin-top: 2em;
}

.get_started {
  background: transparent;
  border: 2px solid white;
  height: 10vh;
  width: 80%;
  font-size: 32px;
  margin-top: 11vh;
  font-family: 'Roboto', sans-serif;
}

.get_started {
  color: white;
}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  ...
}