{%extends 'sacco/all/base.html'%}
{% block content %}


<h1 style="text-align: center">SACCO DASHBOARD</h1>
<div class="row">
    <div class="col-md-4">
        <!-- Side navigation -->
        <div class="sidenav" style="width: 17vw;">
            <a href="{% url 'sacco:profile' %}">About Sacco</a>
            <a href="{% url 'sacco:createSupervisor' %}">Add Supervisor</a>
            <a href="{% url 'sacco:edit' user.sacco.id %}">Edit Sacco</a>
            <a href="#">Delete Sacco</a>
        </div>
    </div>
    <div class="col-md-8">
        <!-- Page content -->
        <div class="container" style="width: 83vw; margin-left: 17vw;">
            
            <div class="Supervisors">
                <h4>SUPERVISOR LIST</h4>
                {% if supervisor %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>ID Number</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>

                                {% for supervisor in supervisor %}
                                <tr>
                                    <td>{{supervisor.full_name}}</td>
                                    <td>{{supervisor.id_number}}</td>
                                    <td><a href="{% url 'sacco:editSupervisor' supervisor.id %}" class="btn btn-sm btn-success">Edit</a></td>
                                    <td><a href="{% url 'sacco:deleteSupervisor' supervisor.id %}" class="btn btn-sm btn-danger">Delete</a></td>
                                </tr>
                                {% endfor %}


                        </tbody>
                    </table>
                 {% else %}
                        <div class="emptytable">
                            <h3>There are no registered Supervisors just yet. <a href="{% url 'sacco:createSupervisor' %}">Click here to add</a> a supervisor</h3>

                        </div>
                {% endif %}

            </div>
            <div class="owners">
                <h4>OWNERS REGISTERED IN THIS SACCO</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Registered Owner Name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for owner in owner %}
                            <td>
                                {{owner.user.first_name}}
                            </td>
                            {% endfor %}
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}
