{% extends 'sacco/all/base.html' %} 
{% load staticfiles%} 
{% load bootstrap3 %}
<!-- Content block -->
{% block content %} 
{{block.super}}
<div class="container">
    <!-- Edit Supervisor form -->
    <div class="col-md-4">
    	<div class="list-group">
 
                  <a href="{% url 'sacco:profile' %}" class="list-group-item ">
                    About Sacco
                  </a>

                    <a href="{% url 'sacco:createSupervisor' %}" class="list-group-item ">
                    Add Supervisor
                  </a>
                    <a href="{% url 'sacco:edit' user.sacco.id %}" class="list-group-item ">
                    Edit Sacco
                  </a>

                  
            </div>
    </div>
    <div class="col-md-8">
        <form action="{% url 'sacco:editSupervisor' supervisor.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-success btn-lg">
        </form>
    </div>
</div>

{% endblock %}