{%extends 'sacco/all/base.html'%} 
{% load static %} 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="list-group">
 
                  <a href="{% url 'sacco:profile' %}" class="list-group-item ">
                    About Sacco
                  </a>

                    <a href="{% url 'sacco:createSupervisor' %}" class="list-group-item ">
                    Add Supervisor
                  </a>
                    <a href="{% url 'sacco:edit' user.sacco.id %}" class="list-group-item ">
                    Edit Sacco
                  </a>

                  
            </div>
        </div>
        <div class="col-md-8">
            {% for owner in owner %}
            <div>
                <h4>OWNER NAME: {{owner.user.first_name.capitalize}} {{owner.user.last_name.capitalize}}</h4>
            </div>
            <div>
                <h4>NATIONAL ID: {{owner.nat_id}}</h4>
            </div>
            <div>
                <h4>TELEPHONE NUMBER: {{owner.telephone}}</h4>
            </div>
            {% endfor %}
            
            <div>
                <h4>CARS OWNED ARE: <br><br>
                      <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Registration</th>
                                    <th>Capacity</th>
                                    
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for car_owned in car_owned %}
                                <tr>
                                    <td>{{car_owned.number_plate}}</td>
                                    <td>{{car_owned.capacity}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                   
                </h4>
            </div>
            
        </div>

    </div>
</div>
{% endblock %}
