{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700" rel="stylesheet" />

  {% if title %}
  <title>Fleet MS - {{title}}</title>
  {% else %}
    <title> Fleet MS </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
  {% endblock %}
 <style type="text/css">
  body {
          background-image:url("{% static "img/bg01.jpg" %}");
        }

  </style>

</head>
{% if request.path == '/owner-signup/' %}
<body style="overflow-x: hidden;">
{% elif request.path == '/sup-signup/' %}
<body style="overflow-x: hidden;">
{% elif request.path == '/loginViews/' %}
<body style="overflow-x: hidden;">
{% else %}
<body>
  {% endif %}
{% block nav %}
{% endblock %}
    {% block content %}
     {%endblock%}

    {% block scripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static " Js/scripts.js " %}" charset="utf-8"></script>
        <script src="{% static "js/jquery.min.js" %}"></script>
        {% bootstrap_javascript %}
    {% endblock %}

</body>
</html>